[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tetraclasse"]
	path = tetraclasse
	url = https://github.com/cran/tetraclasse
[submodule "ztype"]
	path = ztype
	url = https://github.com/cran/ztype
